<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Mata Kuliah</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1> Sistem Informasi Mahasiswa </h1>
  <hr>
  <h2> Save Mata Kuliah </h2>

  <form action="#" th:action="@{/saveMataKuliah}" th:object = "${matakuliah}" method="POST">
    <input type="text" th:field = "*{nama_matakuliah}"
           placeholder="Nama Mata Kuliah...." class="form-control mb-4 col-4">
    <button type="submit" class="btn btn-info col-2"> Save </button>
  </form>

  <hr>

  <a th:href = "@{matakuliah}"> Kembali </a>
</div>
</body>
</html>