<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Jurusan</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1> Sistem Informasi Mahasiswa </h1>
    <hr>
    <h2> Save Jurusan </h2>

    <form action="#" th:action="@{/saveJurusan}" th:object = "${jurusan}" method="POST">
        <input type="text" th:field = "*{nama_jurusan}"
               placeholder="Nama Jurusan...." class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2"> Save </button>
    </form>

    <hr>

    <a th:href = "@{jurusan}"> Kembali </a>
</div>
</body>
</html>