<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Mahasiswa</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1> Sistem Informasi Mahasiswa </h1>
        <hr>
        <h2> Save Mahasiswa </h2>

        <form action="#" th:action="@{/saveMahasiswa}" th:object = "${mahasiswa}" method="POST">
            <input type="text" th:field = "*{nama}"
                   placeholder="Nama Mahasiswa...." class="form-control mb-4 col-4">
            <input type="text" th:field = "*{jurusan}"
                   placeholder="Jurusan...." class="form-control mb-4 col-4">
            <input type="text" th:field = "*{fakultas}"
                   placeholder="Fakultas...." class="form-control mb-4 col-4">
            <input type="text" th:field = "*{matakuliah}"
                   placeholder="matakuliah...." class="form-control mb-4 col-4">
            <button type="submit" class="btn btn-info col-2"> Save </button>
        </form>

        <hr>

        <a th:href = "@{mahasiswa}"> Kembali </a>
    </div>
</body>
</html>