<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sistem Informasi Mahasiswa</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div align="center" class="container my-2">
  <h1> Sistem Informasi Mahasiswa </h1>
  <a th:href="@{mahasiswa}" class="btn btn-primary btn-sm mb-3">Mahasiswa</a>
  <a th:href="@{fakultas}" class="btn btn-primary btn-sm mb-3">Fakultas</a>
  <a th:href="@{jurusan}" class="btn btn-primary btn-sm mb-3">Jurusan</a>
  <a th:href="@{matakuliah}" class="btn btn-primary btn-sm mb-3">Mata Kuliah</a>
</div>
</body>
</html>